# Папка с байткодом Python
__pycache__/

# Временные файлы
*.pyc

# Файлы с паролями
login_data.json
login_headers.json

# Файл для теста каких-либо функций
test.py

# Папка с графиками
drawings/

# Папка с циркулярами из gcn
circulars/

# Папка с подтвержденными гамма-всплесками
GRBs/

# Папка с кандидатами в гамма-всплески
possible_drawings/